@page
@model IdeaListRazor.Pages.IdeaList.CreateModel


<br />
<h2 class="text-info">Create New Idea</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Idea.IdeaText"></label>
            </div>
            <div class="col-6">
                <input asp-for="Idea.IdeaText" class="form-control" />
            </div>
            <span asp-validation-for="Idea.IdeaText" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Idea.Author"></label>
            </div>
            <div class="col-6">
                <input asp-for="Idea.Author" class="form-control" />
            </div>
            <span asp-validation-for="Idea.Author" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Idea.Tag"></label>
            </div>
            <div class="col-6">
                <input asp-for="Idea.Tag" class="form-control" />
            </div>
            <span asp-validation-for="Idea.Tag" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Create" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{ 
    <partial name="_ValidationScriptsPartial" />
}